/*
Theme Name:   WP Easy
Theme URI:    https://github.com/crazyyy/wp-easy
Description:  Приветствую. <br />Тема создана для удобной интеграции шаблонов в WordPress, поддерживает все современыне фишки, минимизированная.<br />Если вам нужна интеграция вашего шаблона на WP, верстка или внести правки - обращайтесь в поддержку - http://saitobaza.ru/, icq 633-308-800 
Version:    14-02-12
Author:     crazyyy and others
Author URI:   http://saitobaza.ru/
Tags:       HTML5, CSS3

License:  MIT
License URI:  http://opensource.org/licenses/mit-license.php
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	list-style-type: none;
}
@import url('css/normalize.min.css');

html {
  height: 100%;
}
.chromeframe {
    margin: 0 0 5px;
    padding: 5px 0;
    background: #ccc;
    color: #000;
}
body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a {
  outline: none;
  color: blue;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 18px;
}
img {
  border: none;
  vertical-align: middle;
}
input {
  vertical-align: middle;
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
textarea {
    resize: vertical;
}
#wrapper {
  margin: 0 auto;
  min-height: 100%;
  width: 980px;
  height: auto !important;
  height: 100%;
}
/* ==============
    Header
   ============== */
header {
  position: relative;
  height: 165px;
  background-color:#f16529;
}
.backhead {
  z-index:-50;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
}
.bkblock0n {
  position: absolute;
  top:0;
  height:165px;
}

/* ==============
    Menu
   ============== */
.headernav {
  margin: 0;
  padding: 0;
}
.headnav{
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.headnav li{
  position: relative;
  display: inline-block;
  float: left;
}
.headnav li a{
  display: block;
  margin: 0 5px;
  padding: 5px 5px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
.headnav li:first-child a {
  margin-left: 0;
}
.headnav li:last-child a {
    margin-right: 0;
}
.headnav li a:hover{
  background: #6b0c36;
  background: rgba(107,12,54,0.75);
  color: #fff;
  text-decoration: underline;
}
/*--- dropdown ---*/
.headnav ul{
  position: absolute;
  left: -9999px;
  list-style: none;
  opacity: 0;
  -webkit-transition: 0.25s linear opacity;
  -moz-transition: 0.25s linear opacity;
  -o-transition: 0.25s linear opacity;
  transition: 0.25s linear opacity;
}
.headnav ul li{
  float:none;
  padding-top:1px;
}
.headnav ul a{
  display:block;
  white-space:nowrap;
}
.headnav li:hover ul{
  left: 0;
  opacity: 1;
}
.headnav li:hover a{
  background:rgba(107,12,54,0.75);
  background:#6b0c36;
  text-decoration:underline;
}
.headnav li:hover ul a{
  text-decoration:none;
}
.headnav li:hover ul li a:hover{
  background:rgba(51,51,51,0.75);
  background:#333;
  text-decoration:underline;
}
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
nav ul li {
   display: inline;
}
.oldie nav a {
  margin: 0 0.7%;
}
/* ==============
    End Menu
   ============== */

/* Middle
-----------------------------------------------------------------------------*/
section {
  padding: 0 0 135px;
}




/* Footer
-----------------------------------------------------------------------------*/
footer {
  position: relative;
  margin: -135px auto 0;
  width:100%;
  height: 135px;
  background-color:#f16529;
}
.mainfooter {
  margin:0 auto;
  width: 980px;
  height:100%;
  background-color:#b3d4fc; 
}

/* pretty  */ 
.popacity {
  opacity:0.3; 
  filter:alpha(opacity=40);
  cursor: pointer; 
  -moz-opacity:0.3;
}
.popacity:hover{
  opacity:1.0; 
  filter:alpha(opacity=100); 
  -moz-opacity:1.0;
}

/* wordpress default image align
-----------------------------------------------------------------------------*/
.aligncenter,
div.aligncenter {
   display: block;
   margin-right: auto;
   margin-left: auto;
}
.alignleft {
   float: left;
}
.alignright {
   float: right;
}
.wp-caption {
   margin: 10px;
   padding-top: 4px;
   border: 1px solid #ddd;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   background-color: #f3f3f3;
   text-align: center;
   -khtml-border-radius: 3px;
}
.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}
.wp-caption p.wp-caption-text {
   margin: 0;
   padding: 0 4px 5px;
   font-size: 11px;
   line-height: 17px;
}
.alignleft {
   float: left;
   margin-right: 5px;
}
.alignright {
   float: right;
   margin-left: 5px;
}
/* end of image align */

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
    overflow: hidden;
    border: 0;
    background-color: transparent;
    *text-indent: -9999px;
}
.ir:before {
    display: block;
    width: 0;
    height: 100%;
    content: "";
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after, .clear{
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
* {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    text-shadow: none !important;
}
a,
a:visited {
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")";
}
abbr[title]:after {
    content: " (" attr(title) ")";
}
/*
 * Don't show links for images, or javascript/internal links
 */
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}
pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group; /* h5bp.com/t */
}
tr,
img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}
h2,
h3 {
    page-break-after: avoid;
}
}
